<% @articles.each do |article| %>
<div valign="top" class="<%= cycle('articles_div_odd', 'articles_div_even') %>">

  <span class="articles_div_gap_2">
  </span><!-- end .articles_div_gap_2 -->

  <span class="articles_div_photo_holder">
    <div class="articles_div_photo">
      <%= image_tag article.photo.url(:medium) %>
    </div><!-- end .articles_div_photo -->
  </span><!-- end .articles_div_photo_holder -->

  <span class="articles_div_gap_1">
  </span><!-- end .articles_div_gap_1 -->

  <span class="articles_div_gap_2">
  </span><!-- end .articles_div_gap_2 -->

  <span class="articles_div_details">
    <div class="last_title"><%=h truncate(article.title.gsub(/<.*?>/,''), :length => 40) %></div>

    <div class="last_description"><%=h truncate(article.information.gsub(/<.*?>/,''), :length => 430) %></div>

    <div class="event_manage">
  	  <span><%= link_to 'Show', article %></span>

      <% if admin? %>
        <span> | </span>
        <span><%= link_to 'Edit', edit_article_path(article) %></span>
        <span> | </span>
        <span><%= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete %></span>
      <% end %>
    </div><!-- end .event_manage -->

  </span><!-- end .articles_div_details -->

</div><!-- end .articles_div_odd -->
<% end %>

<div class="pagination">
  <%= will_paginate @articles %>
</div><!-- end .pagination -->

<% if admin? %>
  <p class="return_link">
	<span><%= link_to 'New article', new_article_path %></span>
  </p>
<% end %>

